<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="screen-api-demos" transaction-type="RESOURCE_LOCAL">

        <class>com.haulmont.screenapidemos.entity.Contract</class>
        <class>com.haulmont.screenapidemos.entity.Customer</class>
        <class>com.haulmont.screenapidemos.entity.Order</class>
        <class>com.haulmont.screenapidemos.entity.OrderLine</class>
        <class>com.haulmont.screenapidemos.entity.airport.Airport</class>
        <class>com.haulmont.screenapidemos.entity.airport.Terminal</class>
        <class>com.haulmont.screenapidemos.entity.airport.MeetingPoint</class>
        <class>com.haulmont.screenapidemos.entity.airport.Note</class>
    </persistence-unit>
</persistence>
